streamlit
tiktoken
langchain
langchain-chroma
langchain-community
langchain-groq
langchain-google-vertexai
langchain-google-genai
langchain-openai
langgraph
langgraph-checkpoint-sqlite
pydantic
dotenv
requests
typing-extensions
pysqlite3-binary
